/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #adbdb8; /* Light green background */
    color: #080808; /* Dark green text */
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background: linear-gradient(168deg, #090909 25%, #283432 45%, #405f5a 58%, #2c3634 80%); /* Diagonal green and gray gradient */
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navigation menu styling */
#menu {
    display: flex;
    justify-content: space-around;
    /* padding: 5px; */
}

#menu p {
    flex: 1;
}

#menu ul {
    flex: 1;
}

#homepage {
    display: inline;
    margin-right: 18px;
}

#homepage a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 18px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Title styling */
h1 {
    font-size: 36px;
    margin: 10px 0;
}

/* Links (hover effect) */
a {
    color: #2e8b57; /* Medium green for links */
}

a:hover {
    color: #405f5a; /* Dark green on hover */
    text-decoration: underline;
}

footer {
    background: linear-gradient(168deg, #090909 25%, #283432 45%, #405f5a 58%, #2c3634 80%); /* Diagonal green and gray gradient */
    color: white; /* default text color */
    text-align: center;
    padding: 25px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #fff;
    font-size: 26px;
    padding-left: 5px;
    padding-right: 5px;
}

/* footer a:hover{
    color: #405f5a;
} */