/* Color Pallet */
/* 1 - #DCE0E1 */
/* 2 - #B9C5B9 */
/* 3 - #6E8072 */
/* 4 - #2E3E39 */
/* 5 - #161B1E */
/* 6 - #414342 */
/* Special 7 - #405f5a */

/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #DCE0E1; /* Color 1 */
    color: #161B1E; /* Color 5 */
    margin: 0;
    padding: 0;
}

/* Header styling */
/*header {
    background: linear-gradient(168deg, #090909 25%, 
    #283432 45%, #405f5a 58%, #2c3634 80%);
    /* Diagonal green and gray gradient */
    /* color: white; */
    /* padding: 20px; */
    /* position: fixed; */
    /* text-align: center; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */


header {
    background: linear-gradient(168deg, #161B1E 25%, #2E3E39 45%, #405f5a 58%, #2E3E39 80%);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navigation menu styling */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color: #DCE0E1;
    text-decoration: none;
    font-size: 26px;
}

/* animation for hover */
@keyframes shake {
    0% {transform: translateX(0) rotate(0deg);}
    25% {transform: translateX(-1px) rotate(-1deg);}
    50% {transform: translateX(1px) rotate(1deg);}
    75% {transform: translateX(-1px) rotate(-1deg);}
    100% {transform: translateX(0) rotate(0deg);}
}

nav a:hover {
    animation: shake 0.35s ease-in-out;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-inline: 10px;
}

.nav-link {
    display: inline-block;
    color: #DCE0E1;
    /* text-decoration: none; */
    font-size: 18px;
}

.nav-link:hover {
    animation: shake 0.35s ease-in-out;
    text-decoration: underline;
}


/* headshot styling */
.headshot {
    text-align: center;
    margin-block: 50px; /* Adds space to top and bottom of block */
}

.headshot-img, .headshot-text {
    display: inline-block; /* Aligns image and text next to each other */
    vertical-align: middle; /* Vertically aligns the image and text */
    margin-inline: 20px; /* Adds space to left and right of each element */
}

.headshot-img {
    width: 300px; /* Sets the width of the image */
    height: 300px; /* Sets the height of the image */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 50%; /* Creates a circular shape */
}

.headshot-text {
    max-width: 500px;
    padding-top: 20px;
    padding-bottom:20px;
}

/* resume styling */
.resume {
    position: fixed;
    bottom: 100px;
    left: 0;
    right: 0;
    text-align: center; /* center-aligns the container's content */
    /* padding-bottom: 100px; */
    /* padding-top: 100px; */
    /* bottom: 100px; */
}

.resume p, .resume-icon {
    display: inline-block;
    vertical-align: middle; /* Vertically aligns the image and text */
    margin-inline: 5px; /* Adds space around the icon */
}

.resume-icon{
    width: 40px; /* Sets the width of the icon */
    height: auto; /* Sets the height of the icon */
}

@keyframes shake-n-grow {
    0% {transform: translateX(0) rotate(0deg) scale(1);}
    25% {transform: translateX(-1px) rotate(-1deg) scale(1.1);}
    50% {transform: translateX(1px) rotate(1deg) scale(1.2);}
    75% {transform: translateX(-1px) rotate(-1deg) scale(1.25);}
    100% {transform: translateX(0) rotate(0deg) scale(1.25);}
}

.resume-icon:hover {
    animation: shake-n-grow 0.35s ease-in-out;
    transform: scale(1.25)
}


/* Footer styling */
footer {
    background: linear-gradient(168deg, #161B1E 25%, #2E3E39 45%, #405f5a 58%, #2E3E39 80%);
    position: fixed;
    z-index: 3;
    width: 100%;
    bottom: 0;
}

footer div {
    display: flex; /* flexbox used to center icons */
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer i {
    color: #DCE0E1;
    font-size: 26px;
    margin-inline: 8px;
}

footer i:hover {
    animation: shake-n-grow 0.35s ease-in-out;
    transform: scale(1.2)
}


/* Work Section Styling */

.work-section-label {
    font-size: 28px;
    color: #161B1E;
    text-align: center;
    margin-block: 40px;
}



/* Preview Card styling */
.preview-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.preview-card {
    position: relative;
    display: block;
    align-content: center;
    width: 300px;
    height: 300px;
    padding: 0px;
    border-radius: 2%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    color: #DCE0E1;
    margin-inline: 20px;
    background: linear-gradient(168deg, #161B1E 25%, #2E3E39 45%, #405f5a 58%, #2E3E39 80%);
}

.preview-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(168deg, #2F85B8 25%, #2E3E39 45%, #405f5a 58%, #2F85B8 80%); */
    opacity: 0;
    transition: opacity 1s ease; /* Transition the opacity */
    z-index: 1;
    border-radius: inherit;
}

.preview-card:hover::before {
    opacity: 0.6; /* Make the pseudo-element fully visible on hover */
}

.role {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-weight: normal;
    margin-top: 10px;
    margin-inline: 15px;
    max-width: 360px;
}

.sector {
    position: relative;
    z-index: 2;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
}

.preview-card img {
    /* position: absolute; */
    position: relative;
    width: 50%; /* default width */
    height: auto;
    /* transform: translateX(-50%); /* Center the image horizontally */
    /* transition: opacity 1s ease; */
    /* opacity: 0; */
    z-index: 2;
    margin-block: -20px;
    margin-bottom: -5px;
    padding: 0;
}

/* .preview-card:hover img {
    opacity: 1; /* Make the pseudo-element fully visible on hover */
/* } */

.preview-card h2 {
    position: relative;
    z-index: 2;
    font-size: 18px;
    margin: 0;
    /* margin-top: 100px; */
    padding: 0;
}

.preview-card h3 {
    position: relative;
    z-index: 2;
    font-size: 16px;
    font-weight: normal;
}


/* Education */

.degree-title {
    text-align: center;
    margin-top: 50px;
}

.degree-overview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.degree-info, .degree-school, .degree-accomps {
    display: flex;
    align-items: center;
    padding-inline: 20px;
    padding-block: 20px;
}

.degree-info img, .degree-school img, .degree-accomps img {
    height: 80px;
    width: auto;
    padding-inline: 10px;
}

/* Course Popups */

.degree h3 {
    text-align: center;
    text-decoration: underline;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

/* Popup Buttons */

.open-popup {
    position: relative;
    display: block;
    align-content: center;
    width: 160px;
    height: 120px;
    padding: 15px;
    border-radius: 10%;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #DCE0E1;
    margin-inline: 20px;
    border: none;
    background-color: #414342;
    transition: background-color 0.5s ease;
}


.open-popup:hover {
    background-color:  #405f5a;
    text-decoration: underline;
}

/* The modal background (hidden by default) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
  }
  
  /* Modal content */
  .modal-content {
    background-color: white;
    margin: 15% auto; /* Center the modal */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Adjust the width as needed */
    text-align: left;
  }

  .modal-content p {
    text-indent: 2em;
  }
  
  .takeaways li {
    margin-bottom: 10px;
  }

  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

